body
{
background-position: center;
background-size: cover;

}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
color: rgb(61, 7, 7);
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
}

a{
    background-color: white;
    border: white;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
}